.side-bar
  .user-name
    .contents
      .contents_user masa
      .contents_icon
        = link_to "#" , class: "contents_icon_btn " do
          = icon('fas', 'edit', class: "contents_icon_btn_icon_edit")
        = link_to "#" , class: "contents_icon_btn" do
          = icon('fas', 'cog', class: "contents_icon_btn_icon_cog")

  .groups
    .group
      .group_name techcamp
      .group_message まだメッセージはありません
